/* cor de fundo */

html {
    background-color: rgb(216, 216, 216);
}

/* elementos da tela de login */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}


.wrapper {
    max-width: 350px;
    min-height: 300px;
    margin: 20vh auto;
    padding: 60px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #a4a5a7, -13px -13px 20px #c7c7c7;
}

.logo {
    width: 80px;
    margin: auto
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.form-field input,
.form-field textarea,
.form-field select {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    box-shadow: none;
}

.form-field textarea {
    resize: none
}

.form-field {
    border: 1px solid #242424;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    
}


.form-field .fas {
    color: #555
}

.btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #f48f03;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    margin-top: 25px;
}

.miniBtn {
    box-shadow: none;
    width: 5rem;
    height: 25px;
    background-color: #f48f03;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    margin-top: 25px;
    margin-bottom: 2px;
}

.miniBtn a {
    color: #fff;
}

.btn:hover {
    background-color: #cc6d00
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #f48f03
}

.wrapper a:hover {
    color: #cc6d00
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}

/* select na tela de login */

select {
    padding: 5px;
    margin: 3px;
    background-color: #00000000;
    border: 1px solid #242424;
    border-radius: 3px;
    
    color: #666;
}

table input{
    background-color: #00000000;
    border: none;
    margin: none;

    padding: 2px;
}

/* sidemenu */
.headNav{
    height: 98%;
}

.menu{
    height: 100%;
}



.mainHead {
    position: fixed;
    top: 0;
    width: 4.5rem;
    height: 100vh;
    z-index: 1;
    background: #f46303;
    transition: width 300ms;
    box-shadow: 13px 13px 20px #a4a5a7, -13px -13px 20px #c7c7c7;
}

.mainHead:hover {
    width: 14rem;
}

.mainHead span {
    display: inline;
    color: white;
    position: fixed;
    transition: left 300ms;
    left: -10rem;
}


.mainHead:hover span {
    display: inline;
    color: white;
    left: 1.5rem;
}

.mainHead img {
    margin-left: 0;
    transition: margin 300ms;
    width: 24px;
    height: 24px;

}

.mainHead:hover img {
    margin-left: 9rem;
}

#menuIcon {
    width: 32px;
    height: 32px;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}



.mainHead a {
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.mainHead a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.menu li {
    margin-top: 0.8rem;
}

.menu li:last-child {
    position: absolute;
    bottom: 10px;
}

/* posição do body com relação ao header */

.wrapAll {
    margin-left: 7rem;

    transition: margin-left 300ms;
    width: 70%;
    padding-bottom: 6rem;

}

#eventBody {
    overflow-x: hidden;
}

header:hover~.wrapAll {
    margin-left: 16.5rem;
}

/*elementos dentro do body*/

#pageTitle {
    font-size: 3rem;
    font-weight: bolder;
}
#pageTitleDiv {
    margin-top: 2rem;
}

/* Tabelas 
table {
    border-collapse: collapse;
    width: 96%;
}

td,
th {
    border: 1px solid #cfcfcf;
    padding: 10px;

}

*/

.descr>a {
    display: block;
    width: 200px;
    white-space: nowrap;
    overflow: scroll;
}

/*
tr:hover:not(:first-child) {
    box-shadow: 13px 13px 20px #939496, -13px -13px 20px #b4b4b4;
    border: 2px solid rgba(0, 0, 0, 0.25);
    padding: 1px;
}

tr:nth-child(odd) {
    background-color: #cfcfcf;
}

tr:nth-child(even) {
    background-color: #e9e9e9;
}
*/
#atvTable {
    height: 40rem;
    width: 94vw;

}

#atvGrid {
    display: grid;
    grid-gap: 1rem;
    margin-top: 1rem;
    overflow-x: scroll;
}

#atvGrid>div:hover {
    cursor: pointer;
}



.atvDetalhes {
    margin-top: 2rem;
    border: #b8b8b8 2px solid;
    border-radius: 0.25rem;
    padding: 2rem 3rem;
    background-color: #e9e9e9;

}

/*detalhes dos detalhes*/



.desc {

    display: block;
    width: 200px;
    white-space: nowrap;
    overflow: scroll;
}

.desc::-webkit-scrollbar {
    height: 0 !important
}

.formDesc {
    height: 100%;
}



/*botões Atv*/


td>a {
    color: black;
    text-decoration: none;
}

.btnSideInput {
    display: grid;
    grid-template-columns: 95% 4%;
    gap: 10px;
}

.btnSideInput>button {
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    border: none;
    border-radius: 5px;
    height: 2.4rem;
}

/*pego do bootstrap*/

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.readonly {
    pointer-events: none;
    touch-action: none;
}

.filterForm {
    margin-top: 1.55rem;
    margin-bottom: 6px;
    display: flex;
    justify-content: left;
    gap: 5px;
}

#filter {
    width: 10rem;
}

.ontopMenu {
    display: flex;
    width: 100vw;
}

svg.w-5 {
    visibility: hidden;
    width: 0;
}

#indexNotFound {
    margin-top: 30ex;
    text-align: center;
    width: 100%;
}

#indexNotFound>p {
    font-size: 1.6rem;
    font-weight: bold;
}

.miniImp {
    padding: 5px;
    background: #edf2ff;
    border: solid 1px rgb(185, 185, 185);
    border-radius: 5px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    color: #666;
}

.atvFormBtn {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
}

.atvFormBtn button, .atvFormBtn input {
    width: 6.5rem;

}

.form-error {

    border: 2px solid #e74c3c;
}

.ulError {
    color: red;
    font-size: 0.8rem;
    list-style-type: none;
}

#paginacao {
    border-top: solid 1px #41414123;
}


#indexCConfig {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    padding: 1rem;
    width: 20rem;
    height: 28rem;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    border: solid 1px #555555;
    border-radius: 10px;
    
}

#indexCConfig>* {
    
    background-color: #f0f0f0;
    margin: auto;
    margin-top: 1.5rem;
    width: 95%;
    height: 80%;
}

#indexCConfig>span{
    font-size: 2.2rem;
    font-weight: bold;

}

/*toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #f46303;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f46303;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchContainer{
    font-size: 1.15rem;
    margin-top: 0.5rem;

}



.histContainer{
    margin-bottom: 10px;
    transition : height 0.25s 0.25s linear;
}


.HideOnColapse{
    display: none;
}


@media only screen and (min-width: 768px) {
    /*colapsible AtvBtns*/
    .wrapAll {
        margin-left: 7rem;
        width: 90%;
    
    }
    .AtvBtns {
        margin-top: 1.5rem;
        margin-bottom: 6px;
        display: flex !important;
        justify-content: right;
        gap: 5px;
        width: auto;
        height: auto;
        border: none;
        margin-right: auto;
    }
    #filter{
        width: 10rem;
    }
    
    #xbutton{
        display: none;
    }

    .switchAtvBtns{
        display: none;
    }

    #indexCConfig{
        width: 25rem;
        height: 28rem;
    }

    .switchContainer{
        font-size: 1.35rem;
    }

    .HideOnColapse{
        display: inline;
    }

    #repart2 {
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
    }
    
    #repart3 {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
    }

    .atvFormBtn {
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
    }

    
    
}

@media screen and (max-width: 600px) {
    .AtvBtns{
        
        padding: 0.5rem;
        
        
    }
    .wrapAll {
        margin-left: 5.5rem;
        width: 75%;
    
    }

    
    #filter{
        width: 10rem;
    }
    
    #xbutton{
        display: none;
    }
    .HideOnColapse{
        display: none;
    }
}
    
.switchAtvBtnsContainer{
    text-align: right;
    margin-right: 15vw;
    

}

.dataTables_length{
    margin-top: 10px;
}

.btn-right{
    text-align: right;
    margin-bottom: 10px;
}

.outline-btn {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    color: #666;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}



.form-field-little{
    width: 100%;
}

.itemTittle{
    margin-bottom: 1rem;
}

.column_relation{
    width: 27rem;
    margin-top: 1rem;
    border-top: solid 1px rgba(107, 107, 107, 0.5);
    border-bottom: solid 1px rgba(107, 107, 107, 0.5);
    padding: 15px;
    display: grid;
    grid-template-columns: 15rem 10rem;
}

.fileInput{
    margin-top: 2rem;
}

#menuHide{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 14rem;
    bottom: 1rem;
    background-color: white;
    border: solid 1px #555555;
    border-radius: 10px;
    padding: 15px;
    border-bottom-left-radius: 0px;
}

.pageFooter{
    text-align: center;
}

.pageFooterContainer{
    margin: auto;
    height: fit-content;
    padding: 10px;
    background-color: rgb(199, 199, 199);
    transition: margin-left 300ms;
    margin-left: 4.5rem;
    margin-top: 2rem;
    width: 96.1%;
}

header:hover~.pageFooterContainer {
    margin-left: 14rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

body{
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 2rem;
}

.pontoTimes{
    border: none;
    background-color: transparent;
}